  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
  }

  header {
    width: 100%;
    background-size: cover;
  }

nav {
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  transition: 1s;
  border: 1px solid black;
  width: 100%;
  margin-left: 100%;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding-right: 40px;
}

nav ul li a {
  color: #fff;
  margin-top: 16px;
  font-size: 16px;
}

@media(max-width: 786px) {

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }
}